<%= form_for(@basket_item) do |f| %>
  <% if @basket_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basket_item.errors.count, "error") %> prohibited this basket_item from being saved:</h2>

      <ul>
      <% @basket_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :basket_id %><br>
    <%= f.text_field :basket_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
